{% extends "base.html" %} {% block content %}
<h2>Admin Dashboard</h2>
<div class="d-flex align-items-center gap-4 flex-wrap">
<form method="POST" action="{{ url_for('main.sales_report') }}" class="mb-3 d-flex align-items-center gap-4">
  <label for="start_date" class="form-label mt-2">Start Date:</label>
  <input type="date" id="start_date" name="start_date" class="form-control" style="max-width: 200px; height: 38px;" required>

  <label for="end_date" class="form-label mt-2">End Date:</label>
  <input type="date" id="end_date" name="end_date" class="form-control" style="max-width: 200px; height: 38px;" required>

  <button type="submit" class="btn btn-primary mb-3">Generate Sales Report</button>
</form>
  <a href="{{ url_for('main.add_product') }}" class="btn btn-primary mb-3">Add Product</a>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>${{ product.price }}</td>
      <td>{{ product.description }}</td>
      {% if product.is_active %}
      <td>Active</td>
      {% else %}
      <td>Inactive</td>
      {% endif %}
      <td>
        {% if product.is_active %}  
          <a href="{{ url_for('main.deactivate_product', product_id=product.id) }}" class="btn btn-danger btn-sm"
           >Deactivate Product
          </a>
        {% else %}
          <a href="{{ url_for('main.activate_product', product_id=product.id) }}" class="btn btn-success btn-sm"
            >Activate Product
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
